# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\School\INFO211\LastSemesterFinalExample\Group13_i210_Final_Project_Final_Draft\I210-Final-Project-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
